.blink {
  animation: blink 1s steps(2, start) infinite;
}

/* HERO CTA BUTTONS - LIGHT THEME 'GLOW' STYLES - FOR BETTER BUTTON VISIBILITY */
.btn-glow {
  box-shadow: inset 0 0 0.5em rgba(255, 255, 255, 0.1),
    0 0 1em rgba(0, 102, 255, 0.4);
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
